const config = {
  apiToken: {auth0-management-api-token},
  domain: "{your-domain}.auth0.com",
  apiBase: "{your-domain}.auth0.com/api/v2/users/",
  scope: "read:users update:users"
}

module.exports = config